<h1>Boat creation</h1>

<form action="{{ path('boat_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button type="submit", formnovalidate>Create</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('boat') }}">
            Back to the list
        </a>
    </li>
</ul>
